.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

/build/
/app/build/

/cxx/


/.idea/


*.iml
*.hprof
*.log
*.apk
*.ap_
*.dex
*.class
*.so
*.jar
*.keystore


/.mvn/
.gradle/
/build/

.DS_Store
Thumbs.db


/private/
